@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3.125rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

/* Shared Styles */
.display-flex{
    display: flex;
}

.section-description{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

.text-primary{
    color: #E95A08;
}

.body{
    background-color: #F7F9FD;
    overflow-x: hidden;
}

.hide{
    display: none;
}

/* Navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 50px;
}

.nav-link{
    text-decoration: none;
    color: #252432;
}

#l1, #l2{
    font-weight: 400;
    color: #8987A1;
}

#l3{
    font-weight: 400;
    color: #000000;
}

/* Banner Styles */
.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}

.banner-content{
    max-width: 50%;
    text-align: left;
    margin-bottom: 0;
}

.banner-image{
    width: 50%;
    max-height: 355px;
}

.banner-title{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 4.06rem;
    margin-bottom: 13px;
}

/* FLower Shop Styles */
.flower-shop-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}

.flower-shop{
    width: 100%;
    text-align: center;
    justify-content: center;
}

.flower-shop-title{
    margin-bottom: 16px;
}

.flower-shop-description{
    max-width: 888px;
    width: 100%;
    text-align: center;
    margin: 0 auto 50px auto;
    padding: 0 16px; 
}

.card-containers{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
}

.cards{
    max-width: 270px;
    width: 100%;
    margin: 0 auto;
}

.card-image{
    margin-bottom: 0;
}

.card-text{
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.card-number{
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.card-button{
    width: 100%;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
    padding: 19px 0px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    transition: background-color 0.5s ease;
}

.card-button:hover{
    background-color: #C74B06;
}

/* Plants Lover */
.plants-lover-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 210px;
}

.plants-lover{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.plants-lover-image{
    width: 540px;
    height: 100%;
}

.trusted-badge{
    width: 286px;
    height: 286px;
    margin-top: -126px;
    margin-left: -190px;
}

.shop-benefits{
    width: 540px;
    margin-top: 30px;
}

.shop-benefit-title{
    margin-bottom: 0;
}

.benefit-description{
    margin-top: 20px;
}

.benefit-description li{
    margin-bottom: 12px;
}

/* Latest Deals */
.latest-deals-text-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}

.latest-deal{
    width: 100%;
    justify-content: center;
    text-align: center;
}

.latest-deals-title{
    margin-bottom: 16px;
}

.latest-deals-description{
    max-width: 888px;
    width: 100%;
    text-align: center;
    margin: 0 auto 120px auto;
    padding: 0 16px;  
}

.latest-deals-image-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}

.latest-deal-images{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    height: 425px;
}

.deal{
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.deal img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.large{
  grid-row: 1 / span 2;
  grid-column: 2 / 3;
}

.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay a{
  margin-top: 0;
  color: #ffffff;
}

.text-small{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.text-large{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.link-text-small{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}

.link-text-large{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
}

/* Join Us */
.join-us{
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 535px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.join-us-title{
    color: #ffffff;
    margin-left: 122px;
}

.subscription-form{
    display: flex;
    justify-content: center;
    width: 830px;
    margin: 0 auto;
}

.subscription-form input[type='email'] {
    padding: 15px;
    width: 100%;
    max-width: 644px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.subscription-form button{
    width: 186px;
    padding: 19px 50px;
}

@media (hover: none) {
  .card-button:hover {
    background-color: #E95A08;
  }
}

@media screen and (max-width: 576px) {
    .hide-on-mobile{
        display: none;
    }

    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 12px;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .nav-links{
        display: flex;
        justify-content: flex-end;
        width: auto;
    }

    .nav-link {
        font-size: 16px;
        white-space: nowrap;
    }

    .nav-item{
        margin-right: 0;
    }

    .logo {
        width: 63px;
        height: 38px;
        object-fit: contain;
    }

    .banner{
        flex-direction: column-reverse;
        margin-top: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .banner-image{
        width: 100vw;
        height: 245px;
        display: block;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .banner-content{
        max-width: 100%;
        text-align: left;
        margin-top: 28px;
        margin-left: 12px;
    }

    #f1{
        display: block;
    }

    .banner-title{
        font-family: "Noto Serif", serif;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 13px;
    }

    .section-description{
        font-size: 0.875rem;
        margin-top: 0;
    }

    .flower-shop-description{
        max-width: 336px;
        width: 100%;
        text-align: center;
        margin: 0 auto 50px auto;
        padding: 0 16px;
    }

    .flower-shop-container{
        max-width: 100%;
        margin-top: 60px;
        padding: 0 16px; 
        box-sizing: border-box;
    }

    .flower-shop-title{
        font-family: "Noto Serif", serif;
        font-weight: 700;
        font-size: 1.5rem;
        margin-left: 15px;
    }

    .card-containers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 10px;
        justify-content: center;
        padding: 0 10px;
        padding-left: 3px;
        margin-right: 0;
        margin-left: 0;
    }

    .cards{
        width: 100%;
        max-width: 172px;
        height: auto;
    }

    .card-image{
        width: 100%;
        height: auto;
        display: block;
    }

    .plants-lover-container {
        margin-top: 42px;
    }

    .plants-lover{
        flex-direction: column;
        width: 361px;
        margin-left: 30px;
    }

    .plants-lover-image{
        width: 100%;
        margin-bottom: 0;
        display: block; 
    }

    .trusted-badge{
        display: none;
    }

    .shop-benefits{
        width: 100%;
        margin-top: 0;
    }

    .shop-benefit-title{
        font-family: "Noto Serif", serif;
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 18px;
        margin-bottom: 16px;
    }

    .benefit-description{
        padding-left: 0;             
        margin-left: 20px; 
    }

    .latest-deals-text-container{
        margin-bottom: 50px;
    }

    .latest-deals-title{
        font-size: 1.5rem;
    }

    .latest-deals-description{
        max-width: 336px;
        width: 100%;
        text-align: center;
        margin: 0 auto 16px auto;
        padding: 0 16px;
    }

    .latest-deals-image-container{
        margin-top: 0;
    }

    .latest-deal-images{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 16px;
        height: 580px;
    }

    .deal{
        position: relative;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    .deal img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
        border-radius: 12px;
    }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4); 
        text-align: center;
        color: white;
        padding: 0 10px;
        border-radius: 10px;
    }

    .text-small, .text-large{
        font-size: 1.25rem;
    }

    .link-text-small, .link-text-large{
        font-size: 1rem;
    }

    .join-us{
        height: 276px;
        align-items: center;
        margin-top: 45px;
    }

    .join-us-title{
        font-size: 1.25rem;
        margin-left: 42px;
    }

    .subscription-form{
        width: 321px;
        margin: 0 auto;
    }

    .subscription-form input[type='email'] {
        width: 210px;
    }

    .subscription-form button{
        width: 95px;
        padding: 10px;
    }

    html, .body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        width: 100%;
    }
}
