@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 3.125rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
}

/* Shared Styles */
.display-flex{
    display: flex;
}

.section-description{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

.text-primary{
    color: #E95A08;
}

.body{
    background-color: #F7F9FD;
}

.hide{
    display: none;
}

/* Navbar */
.navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.nav-item{
    list-style: none;
    margin-right: 50px;
}

.nav-link{
    text-decoration: none;
    color: #252432;
}

#l1, #l2{
    font-weight: 400;
    color: #8987A1;
}

#l3{
    font-weight: 400;
    color: #000000;
}

.banner{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}

.banner-content{
    max-width: 50%;
    text-align: left;
    margin-bottom: 0;
}

.banner-image{
    width: 50%;
    max-height: 355px;
}

.banner-title{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 4.06rem;
    margin-bottom: 13px;
}

.flower-shop-container{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 120px;
}

.flower-shop{
    text-align: center;
}

.flower-shop-title{
    margin-bottom: 16px;
}

.flower-shop-description{
    margin-bottom: 50px;
}

.card-containers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    justify-content: center;
}

.cards{
    max-width: 270px;
}

.card-image{
    margin-bottom: 0;
}

.card-text{
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.card-number{
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
}

.card-button{
    width: 100%;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
    padding: 19px 0px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

@media screen and (max-width: 576px) {
    .hide-on-mobile{
        display: none;
    }

    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 12px;
        box-sizing: border-box;
        margin-bottom: 0;
    }

    .nav-links{
        display: flex;
        justify-content: flex-end;
        width: auto;
    }

    .nav-link {
        font-size: 16px;
        white-space: nowrap;
    }

    .nav-item{
        margin-right: 0;
    }

    .logo {
        width: 63px;
        height: 38px;
        object-fit: contain;
    }

    .banner{
        flex-direction: column-reverse;
        margin-top: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .banner-image{
        width: 100vw;
        height: 245px;
        display: block;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .banner-content{
        max-width: 100%;
        text-align: left;
        margin-top: 28px;
        margin-left: 12px;
    }

    #f1{
        display: block;
    }

    .banner-title{
        font-family: "Noto Serif", serif;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 13px;
    }

    .section-description{
        font-size: 0.875rem;
        margin-top: 0;
    }

    .flower-shop-container{
        max-width: 100%;
    }

    .flower-shop-title{
        font-family: "Noto Serif", serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .card-containers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 16px;
        justify-content: center;
        padding: 0 14px;
    }

    .cards{
        width: 100%;
        max-width: 172px;
        height: auto;
    }

    .card-image{
        width: 100%;
        height: auto;
        display: block;
    }

    .body {
        overflow-x: hidden;
    }
}
