@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */
.display-flex{
    display: flex;
}

.body{
    background-color: #F7F9FD;
    max-width: 1140px;
}

/* Navbar */
.navbar{
    justify-content: space-between;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    margin-right: 50px;
}